In [1]:
import csv
import pandas as pd
import random as r

In [2]:
def customer_group3(df_cust, groups, gsize, col_list):
    cust_list = df_cust[col_list[0]].unique()
    c = list(cust_list)
    k = gsize
    g = groups
    gs = []
    for i in range(1,g+1):
        print (i)
        gs.append(r.sample(c, k))
    return(gs)

In [5]:

import sys
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share your notebook.
client_ec7832a631cf488c8a552db7884026b6 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='9lpMGaOqG9N_xYlDNyNKYxVNjfKoxX5iTFFW-5bZ1NgA',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_ec7832a631cf488c8a552db7884026b6.get_object(Bucket='campaignmanagementded83c5c44d440ebba56858d64bcdce0',Key='Online Retail Sample.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_pos = pd.read_csv(body)
df_pos.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/2010 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/2010 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/2010 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/2010 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/2010 08:26:00,3.39,17850.0,United Kingdom

In [6]:
column_list=list(["CustomerID", "col2", "col3"])
cust_groups = customer_group3(df_pos, 3, 9, column_list)
cust_groups[0:4]

1
2
3

[[14911.0,
  16835.0,
  18229.0,
  12662.0,
  14078.0,
  18144.0,
  15922.0,
  12868.0,
  14142.0],
 [15012.0,
  16098.0,
  12431.0,
  15311.0,
  14307.0,
  13705.0,
  16539.0,
  15605.0,
  17420.0],
 [15350.0,
  15525.0,
  17572.0,
  16835.0,
  12433.0,
  17968.0,
  15291.0,
  14527.0,
  17809.0]]